<html>
<head>
  <title>Arc90 University | Backbone 101</title>
  <link rel="stylesheet" href="css/lib/normalize.css">
  <link rel="stylesheet" href="css/lib/font-awesome.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>

  <div id="content">
    <h1 id="header">Arc90 University | Backbone 101</h1>
    <div id="photos"></div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/app.js"></script>
  <script>  
     $(function(){
        Statigram.init(<%= @photos %>);
     });
  </script>

  <!-- Photo Template -->
  <script type="text/texmplate" id="tpl_photo">
    <article class="photo-holder">
      {{ statigram }}
      <h1>{{ title }}</h1>
      <ul class="photo-admin">
        <li><a href="#comment" title="Photo information" class="button-comment"><i class="icon-comment"></i></a></li>
        <li><a href="#delete" title="Delete photo" class="button-delete"><i class="icon-trash"></i></a></li>
      </ul>
      <form action="/photo/{{ id }}" method="post" accept-charset="utf-8" class="photo-form">
        <label for="photoComment{{ id }}">Leave a comment</label>
        <textarea name="comment" id="photoComment{{ id }}">{{ comment }}</textarea>
        <input type="submit" name="submit" value="Save comment">
      </form>
    </article>
  </script>

</body>
</html>