body {
	text-align: center;
	background: #ccc;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color: #333;
	font-size: 100%;
}

#content {
	width: 85%;
	margin: 40px auto;
	text-align: left;
	background: #fff;
	padding: 40px;
	box-shadow: #999 0 0 10px;
}

h1, h2, h3 {
	font-weight: normal;
}

#photos {
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
}

ul li.photo {
	list-style-type: none;
	display: inline-block;
	padding: 5px 0;
	border: #ddd 1px solid;
	width: 210px;
	height: 250px;
	margin: 20px;
	text-align: center;
	box-shadow: #ccc 0 0 3px;
}

ul li.photo img {
	width: 200px;
	height: 200px;
}

.photo-holder h1 {
	font-size: 10px; font-size: 1.0rem;
	color: #999;
	text-align: left;
	padding: 0 10px;
	margin: 5px 0;
}

li.photo:hover .photo-holder h1 {
	color: #333;
}

.photo-admin {
	margin: 0 5px;
	text-align: right;
}

.photo-admin li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.photo-admin li a {
	text-decoration: none;
	color: #999;
}

.photo-admin li a:hover {
	color: #333;
}

.photo-form {
	display: none;
	padding: 0 5px;
	margin: 4px 0;
}

.photo-form input[type=text] {
	width: 100%;
	font-size: 8px; font-size: .8rem;
	font-style: italic;
}
