body {
	text-align: center;
	background: #ccc;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color: #333;
	font-size: 100%;
}

#content {
	width: 85%;
	margin: 40px auto;
	text-align: left;
	background: #fff;
	padding: 40px;
	box-shadow: #999 0 0 10px;
}

h1, h2, h3 {
	font-weight: normal;
}

#header {
	margin: 0 0 20px 0;
	color: #999;
	font-size: 16px; font-size: 1.6rem;
}

#search-form {
	width: 85%;
	margin: 0;
	padding: 0;
	text-align: right;
	position: absolute;
	margin-top: -50px;
	font-size: 9px; font-size: 0.9rem;
}

#photos {
	text-align: center;
	opacity: 0;
}

ul {
	margin: 0;
	padding: 0;
}

ul li.photo {
	list-style-type: none;
	display: inline-block;
	padding: 0;
	border: #ddd 1px solid;
	width: 210px;
	height: 260px;
	margin: 20px;
	text-align: center;
	box-shadow: #ccc 0 0 3px;
}

ul li.photo img {
	width: 100%;
}

.photo-holder h1 {
	font-size: 10px; font-size: 1.0rem;
	color: #999;
	text-align: left;
	padding: 0 10px;
	margin: 5px 0;
}

li.photo:hover .photo-holder h1 {
	color: #333;
}

.photo-admin {
	margin: 0 5px;
	text-align: right;
}

.photo-admin li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.photo-admin li a {
	text-decoration: none;
	color: #999;
}

.photo-admin li a:hover {
	color: #333;
}

.photo-form {
	display: none;
	position: absolute;
	padding: 5px;
	margin-top: -256px;
	width: 200px;
	height: 200px;
	background: rgba(220,220,220,0.9);
	text-align: right;
}

.photo-form label {
	padding: 0 0 5px 0;
	font-size: 8px; font-size: 0.8rem;
	font-weight: bold;
	text-align: left;
	display: block;
	color: #333;
}

.photo-form textarea {
	width: 100%;
	font-size: 8px; font-size: .8rem;
	height: 130px;
	padding: 5px;
}

.photo-form input[type=submit] {
	margin-top: 10px;
	font-size: 8px; font-size: 0.8rem;
}
